#nav {
  background-color: #2e2e2e;
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("public/logos/toggle.svg") !important;
}

@media screen and (min-width: 768px) {
  #nav {
    width: 150px;
    height: 100vh;
  }
}
