body {
  background-color: #1f1f1f !important;
}

#navCol {
  background-color: #2e2e2e;
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("public/logos/toggle.svg") !important;
}

@media screen and (min-width: 768px) {
  #navCol {
    background-color: #252526;
    border-right: 1px solid #67676a !important;
  }
}

input::-webkit-input-placeholder {
  color: #67676a !important;
}

.sfondoInput {
  background-color: #1f1f1f !important;
}

hr {
  color: #67676a !important ;
}

.descriptions {
  font-size: 13px;
  color: white !important;
  opacity: 75% !important;
}

.testiNovita {
  font-size: 19px !important;
  color: white !important;
  opacity: 75% !important;
}

@media screen and (min-width: 768px) {
  .testiNovita {
    font-size: 17px !important;
  }
}

@media screen and (min-width: 992px) {
  .testiNovita {
    font-size: 24px !important;
  }
}
@media screen and (min-width: 1200px) {
  .testiNovita {
    font-size: 14px !important;
  }
}

.Bottoni {
  background-color: #2a2a2a !important;
}

@media screen and (min-width: 992px) {
  .testoSpan {
    font-size: 15px !important;
  }
}

.footerText {
  font-size: 12px;
}

.footerText2 {
  font-size: 11px;
}

#playerBg {
  background-color: #242424 !important;
}

.imgPlayerDiv {
  width: 15% !important;
}
