body {
  background-color: #1f1f1f !important;
}

#nav {
  background-color: #2e2e2e;
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("public/logos/toggle.svg") !important;
}

@media screen and (min-width: 768px) {
  #nav {
    background-color: #252526;
    width: 400px;
    height: 100%;
    border-right: 1px solid #39393a;
  }
}

input::-webkit-input-placeholder {
  color: #67676a !important;
}

.sfondoInput {
  background-color: #1f1f1f !important;
}

hr {
  color: #67676a !important ;
}

.descriptions {
  font-size: 13px;
  color: white !important;
  opacity: 75% !important;
}
